body{
    margin: 0;
    padding: 0;
}
header{
    background-color: #5D5D5D;
    text-align: center;
    color: #F5F5DC;
    position: fixed;
    width: 100%;
}
main{
    background-color: #D4D7E0;
    margin-top: 80px;
    width: 100%;
    position: absolute;
    padding: 2%;
}
#form{
    float: left;
    width: 30%;
}
form label{
    text-align: center;
}
#table{
    float: right;
    width: 70%;
}
table{
    border: 1px black solid;
    border-collapse: collapse;
}