*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(../background.jpg);
    background-size: cover;
}
header{
    background-color:  rgb(93, 93, 93);
    color: #F5F5DC;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
main{
    margin-top: 10%;
}
form{
    float: left;
    position: relative;
    left: 18%;
    text-align: center;
    background-color: rgba(169, 169, 169, 0.678);
    padding: 20px;
    height: 330px;
    border-radius: 5%;
}
#tableSection{
    float: right;
    position: relative;
    right: 29%;
    background-color: rgba(169, 169, 169, 0.678);
    padding: 30px 30px 10px 30px;
    border-radius: 5%;
    text-align: center;
}
table,th,td{
    border: solid black 2px;
    border-collapse: collapse;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.541);
}
